.App {
  text-align: center;
}

.App-heading {
  font-size: 60px;
}

.App-button {
  margin-top: 80px;
  padding: 4px 50px;
  margin-left: 20px;
  font-size: 20px;
  border-radius: 8px;
  border: 2px darkgrey solid;
  background-color: white;
}
